div#container
{
   width: 1023px;
   position: relative;
   margin-top: 0px;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
body
{
   font-size: 8px;
   line-height: 1.1875;
   text-align: center;
   margin: 0;
   background-color: #F1F3F2;
   color: #000000;
}
#indexLayer1
{
   background-color: #5A4451;
}
#wb_indexText1 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText1 div
{
   text-align: left;
}
#wb_indexText2 div
{
   text-align: left;
}
#indexLayer3
{
   background-color: #FFD700;
   background-image: url(images/trenings-after.png);
   background-repeat: no-repeat;
   background-position: left top;
}
#wb_indexText8 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText8 div
{
   text-align: left;
}
#wb_indexText9 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText9 div
{
   text-align: left;
}
#wb_indexText10 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText10 div
{
   text-align: left;
}
#wb_indexText11 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText11 div
{
   text-align: left;
}
#wb_indexText12 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText12 div
{
   text-align: left;
}
#wb_indexText13 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText13 div
{
   text-align: left;
}
#indexPhotoGallery1
{
   border-spacing: 3px;
   width: 100%;
}
#indexPhotoGallery1 .figure
{
   padding: 0px 0px 0px 0px;
   text-align: center;
   vertical-align: top;
}
#indexPhotoGallery1 .figure img
{
   border-width: 0;
}
#wb_indexText14 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_indexText14 div
{
   text-align: center;
}
#indexImage10
{
   border: 0px #000000 solid;
}
#indexLayer4
{
   background-color: #F6F2CA;
}
#indexLayer5
{
   background-color: transparent;
   background-image: url(images/rewivs-after.png);
   background-repeat: repeat-x;
   background-position: left top;
}
#wb_indexText15 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_indexText15 div
{
   text-align: center;
}
#indexImage11
{
   border-width: 0;
}
#wb_indexText16 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_indexText16 div
{
   text-align: center;
}
#wb_indexText17 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_indexText17 div
{
   text-align: center;
}
#indexLayer6
{
   background-color: #000000;
}
#indexLayer7
{
   background-color: transparent;
   background-image: url(images/footer-after.png);
   background-repeat: repeat;
   background-position: left top;
}
#wb_indexText18 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText18 div
{
   text-align: left;
}
#wb_indexText20 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_indexText20 div
{
   text-align: left;
}
#indexImage9
{
   border-width: 0;
}
#indexImage8
{
   border-width: 0;
}
#indexImage7
{
   border-width: 0;
}
#indexImage12
{
   border-width: 0;
}
#indexImage13
{
   border-width: 0;
}
#indexImage5
{
   border: 0px #000000 solid;
}
#wb_indexForm4
{
   background-color: transparent;
   border: 0px #000000 solid;
}
#indexEditbox3
{
   border: 1px #A9A9A9 solid;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
   background-color: #FFFFFF;
   color :#000000;
   font-family: Arial;
   font-size: 19px;
   padding: 0px 0px 0px 20px;
   text-align: left;
   vertical-align: middle;
}
#indexEditbox8
{
   border: 1px #A9A9A9 solid;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
   background-color: #FFFFFF;
   color :#000000;
   font-family: Arial;
   font-size: 19px;
   padding: 0px 0px 0px 20px;
   text-align: left;
   vertical-align: middle;
}
#indexButton1
{
   border: 0px #A9A9A9 solid;
   background-color: #74BDB4;
   background: -moz-linear-gradient(bottom,#74BDB4 0%,#74BDB4 100%);
   background: -webkit-linear-gradient(bottom,#74BDB4 0%,#74BDB4 100%);
   background: -o-linear-gradient(bottom,#74BDB4 0%,#74BDB4 100%);
   background: -ms-linear-gradient(bottom,#74BDB4 0%,#74BDB4 100%);
   background: linear-gradient(bottom,#74BDB4 0%,#74BDB4 100%);
   color: #F5F5F5;
   font-family: 'PT Sans Narrow';
   font-weight: bold;
   font-size: 21px;
}
#indexEditbox1
{
   border: 1px #A9A9A9 solid;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
   background-color: #FFFFFF;
   color :#000000;
   font-family: Arial;
   font-size: 19px;
   padding: 0px 0px 0px 20px;
   text-align: left;
   vertical-align: middle;
}
